{
    "waterLoggings":[
        {
            "intention":"查看排水设备",
            "keywords":"排水设备",
            "sql":"SELECT item_name, brand, deploy_time, location, address, online, state FROM psfl_device_content",
            "args":""
        },
        {
            "intention":"查看在线排水设备",
            "keywords":"在线,排水设备",
            "sql":"SELECT item_name, brand, deploy_time, location, address, online, state FROM psfl_device_content WHERE `online` = 1",
            "args":""
        },
        {
            "intention":"查看不在线排水设备",
            "keywords":"不在线,排水设备",
            "sql":"SELECT item_name, brand, deploy_time, location, address, online, state FROM psfl_device_content WHERE `online` = 0",
            "args":""
        }
    ],
    "publicHealths":[
        {
            "keywords":"",
            "sql":"",
            "args":""
        }
    ],
    "forestFires":[
        {
            "keywords":"",
            "sql":"",
            "args":""
        }
    ],
    "governmentServices":[
        {
            "keywords":"",
            "sql":"",
            "args":""
        }
    ]
}